@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<input id="Text1" type="text" /><br />
   <select id="Select1">
        <option>1</option>
        <option>2</option>

    </select>
   <br />
<input id="Submit1" type="submit" value="submit" />

